{% load static %}

<!-- Footer -->

   <footer class="modern-footer">
  <div class="footer-container">
    <div class="footer-section about">
      <h3>Real Estate Albania</h3>
      <p>Shtëpitë tuaja, prioriteti ynë.</p>
      <p>✅E Hene - E Premte✅</p>
      <p>🕚08:00-16:00🕚</p>
    </div>

    <div class="footer-section links">
      <h4>Linke të Shpejtë</h4>
      <ul>
        <li><a href="{% url 'salesPage' %}">Sales</a></li>
        <li><a href="{% url 'rentalPage' %}">Rental</a></li>
        <li><a href="{% url 'agentPage' %}">Agent</a></li>
        <li><a href="{% url 'contactPage' %}">Contact</a></li>
      </ul>
    </div>

    <div class="footer-section contact">
      <h4>Kontakti</h4>
      <p><i class="fas fa-map-marker-alt"></i> Rruga Kavajes, Tiranë</p>
      <p><i class="fas fa-phone-alt"></i> +355 69 123 4567</p>
      <p><i class="fas fa-envelope"></i> info@realestatealbania.com</p>
    </div>

    <div class="footer-section social">
      <h4>Na ndiqni</h4>
      <div class="social-icons">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Real Estate Albania | Të gjitha të drejtat e rezervuara</p>
  </div>
</footer>

   <!-- fund footer -->
